# Ignore Structurizr 
Architecture/.structurizr/

# ignore Visual Studio
.vs/
/Infrastructure/*/bin/*
/infrastructure/*/obj/*
/test/*/*/bin/*
/test/*/*/obj/*

# ignore Visual Studio Code


# ignore Jetbrains
.idea/
/Mercury.AppHost/bin/
